$white-color: #eeeded;

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #004e95;
}

.main-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;

  .position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .single-position-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 18px;

      a {
        text-decoration: none;
        color: $white-color;
        margin-top: 40px;
        grid-column-start: 3;

        button {
          background-color: #013a6b;
          background-image: linear-gradient(58deg, #013a6b 50%, #004e95 50%);
          border: solid 3px $white-color;
          border-radius: 15px;
          padding: 10px;
          color: #e5f4f4;
          font-size: 1.5rem;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          text-decoration: none;
          margin: 20px;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #004e95;
            background-image: linear-gradient(58deg, #004e95 50%, #013a6b 50%);
            color: #eeeded;
            transform: scale(1.1);
            animation: pulse-animation 2s infinite;
            box-shadow: 0px 0px 1px 1px #eeeded;
            border-radius: 15px;
            cursor: pointer;
          }
        }
      }

      .single-position {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 3px $white-color;
        background-color: #013a6b;
        background-image: linear-gradient(61deg, #013a6b 50%, #004e95 50%);
        border-radius: 15px;
        padding: 20px;
        color: #e5f4f4;
        animation: pulse-animation 2s infinite;
        box-shadow: 0px 0px 1px 1px #eeeded;
        border-radius: 15px;
        width: 70%;
        justify-self: center;
        margin: 10px 0 10px 0;

        h2 {
          font-size: 1.5rem;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          text-decoration: none;
        }

        .data-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .threeD {
            display: flex;
            align-items: center;
            font-size: 1.5rem;

            span {
              font-size: 2rem;
              font-weight: bold;
              letter-spacing: 0.2rem;
              border-right: #eeeded 1px solid;
              margin-right: 10px;
              padding-right: 10px;
            }
          }

          .timestamp {
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            letter-spacing: 0.2rem;
          }
        }
      }
    }
  }
}

.waiting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: -webkit-linear-gradient(
    30deg,
    #004e95 25%,
    #013a6b 25%,
    #013a6b 50%,
    #004e95 50%,
    #004e95 75%,
    #013a6b 75%,
    #013a6b 100%
  );

  a {
    text-decoration: none;
    color: $white-color;

    button {
      background-color: #013a6b;
      background-image: linear-gradient(58deg, #013a6b 50%, #004e95 50%);
      border: solid 3px $white-color;
      border-radius: 15px;
      padding: 10px;
      color: #e5f4f4;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      text-decoration: none;
      margin: 20px;
      transition: all 0.2s ease-in-out;
      height: 90%;

      &:hover {
        background-color: #004e95;
        background-image: linear-gradient(58deg, #004e95 50%, #013a6b 50%);
        color: #eeeded;
        transform: scale(1.1);

        cursor: pointer;
      }
    }
  }

  .dot-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;

    .dots {
      margin-top: 30px;
      align-items: center;
      border: solid 3px $white-color;
      border-radius: 15px;
      padding: 10px;
      animation: pulse-animation 2s infinite;
      box-shadow: 0px 0px 1px 1px #eeeded;
      border-radius: 15px;
    }
  }

  img {
    border-radius: 15px;
    width: 500px;
    box-shadow: 0px 0px 10px 2px #eeeded;
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(239, 236, 236, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(239, 236, 236, 0);
  }
}
