body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .position-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    justify-content: space-between;

    .position {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .single-position {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .location {
          font-size: 1.2rem;
          color: #000;
        }
      }
    }
  }
}
